{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- CONTENT -->
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="roundedrec">
                    <div class="insiderec">
                        <h2 class="judul2">Daftar Peminjaman</h2>
                        <select class="filtering">
                            <option value="volvo">Filter by..</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                        </select>
                        <div class="table-responsive">
                            <table class="table center">
                                <thead>
                                    <tr>
                                        <th scope="col">Nomor Kartu Anggota</th>
                                        <th scope="col">Nama Sepeda</th>
                                        <th scope="col">Stasiun</th>
                                        <th scope="col">Waktu Kembali</th>                                        
                                        <th scope="col">Biaya</th>
                                        <th scope="col">Denda</th>                                        
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">14045</th>
                                        <td scope="row">Spekun 7</td>
                                        <td scope="row">Stasiun Wakanda Baradt</td>
                                        <td scope="row">-</td>
                                        <td scope="row">-</td>
                                        <td scope="row">-</td>
                                        <td scope="row">
                                            <button type="button" class="btn btn-primary update" data-toggle="modal" data-target="#update1">
                                                <i class="fas fa-sync-alt"></i>
                                            </button>
                                            <div class="modal fade" id="update1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="updatePeminjaman">Update Peminjaman</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body modalkiri">
                                                        <form action="#">
                                                            <div class="form-label-group">
                                                                <label for="inputNomor"><b>Nomor Kartu Anggota:</b></label>
                                                                <input type="text" id="inputNomor" class="form-control" value="14045" required>
                                                            </div>
                                                            <div class="form-label-group jarakatas">
                                                                <label for="inputSepeda"><b>Sepeda:</b></label>
                                                                <input type="text" id="inputSepeda" class="form-control" value="Spekun 7" required>
                                                            </div>
                                                            <div class="form-label-group jarakatas">
                                                                <label for="inputStasiun"><b>Stasiun:</b></label>
                                                                <select class="custom-select" id="inputStasiun" name="Stasiun">
                                                                    <option selected>Pilih...</option>
                                                                    <option value="1">Stasiun Perpustakaan Pusat</option>
                                                                    <option value="2">Stasiun Sastra</option>
                                                                    <option value="3">Stasiun Pondok Cina</option>
                                                                    <option value="4">Stasiun Wakanda Barat</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-label-group jarakatas">
                                                                <label for="inputWaktuKembali"><b>Waktu Kembali:</b></label>
                                                                <input type="text" id="inputWaktuKembali" class="form-control" value="-" required>
                                                            </div>
                                                            <div class="form-label-group jarakatas">
                                                                <label for="inputBiaya"><b>Biaya:</b></label>
                                                                <input type="text" id="inputBiaya" class="form-control" value="-" required>
                                                            </div>
                                                            <div class="form-label-group jarakatas">
                                                                <label for="inputDenda"><b>Denda:</b></label>
                                                                <input type="text" id="inputDenda" class="form-control" value="-" required>
                                                            </div>
                                                            
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                                                        <button type="button" class="btn btn-primary btnagree">Update</button>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="pagination">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}