{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- CONTENT -->
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="roundedrec">
                    <div class="insiderec">
                        <h2 class="judul">Buat Peminjaman Baru</h2>
                        <hr class="garis">
                        <form action="#">
                            
                            <div class="form-label-group jarakatas">
                                <label for="inputStasiun">Stasiun:</label>
                                <select class="custom-select" id="namaStasiun" name="listStasiun" required>
                                    <option selected>Pilih...</option>
                                    <option value="1">Stasiun Perpustakaan Pusat</option>
                                    <option value="2">Stasiun Sastra</option>
                                    <option value="3">Stasiun Pondok Cina</option>
                                    <option value="4">Stasiun Wakanda Barat</option>
                                  </select>
                            </div>

                            <div class="form-label-group jarakatas">
                                <label for="inputSepeda">Sepeda:</label>
                                <select class="custom-select" id="namaSepeda" name="listSepeda" required>
                                    <option selected>Pilih...</option>
                                    <option value="1">Spekun 1</option>
                                    <option value="2">Spekun 2</option>
                                    <option value="3">Spekun 3</option>
                                    <option value="4">Spekun 4</option>
                                  </select>
                            </div>
                            <div class="submitditengah">
                                <input type="submit" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}