{% extends 'base.html' %}
{% block content %}
{% load static %}
<link href="{% static 'css/login_page.css' %}" rel="stylesheet"></link>

<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h2 data-type="header" class="card-title text-center">Sign In
            </h2>
            <label for="exampleInput">No KTP</label>
            <form class="form-signin">
              <div class="form-label-group">
                <input type="text" id="inputKTP-2-2" required="" class="form-control"/>
              </div>
              <label for="exampleInput">Email</label>
              <div class="form-label-group">
                <input type="email" id="inputEmail-2-2" placeholder="email@example.com" required="" autofocus="" class="form-control"/>
              </div>
              <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase">Sign in</button>
              <a href="/register/signup/" class="d-block text-center mt-2 small" style="color:darkcyan">Sign Up</a>
              <hr class="my-4"/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}