{% extends 'base.html' %}
{% block content %}
{% load static %}
<link href="{% static 'css/login_page.css' %}" rel="stylesheet"></link>
<div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
              <div class="card-body">
                <h2 data-type="header" class="card-title text-center">Pick Your Role
                </h2>
                <form class="form-signin">
                  <div class="form-label-group">
                  </div>
                  <div class="form-label-group">
                  </div>
                  <a href="admin/" class="btn btn-lg btn-primary btn-block text-uppercase">Admin</a><br>
                  <a href="anggota/" class="btn btn-lg btn-primary btn-block text-uppercase">Anggota</a><br>
                  <a href="petugas/" class="btn btn-lg btn-primary btn-block text-uppercase">Petugas</a>
                  <hr class="my-4"/>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}