{% extends 'base.html' %}
{% block content %}
{% load static %}
<link href="{% static 'css/signup_page.css' %}" rel="stylesheet"></link>
<div class="container center">
        <div class="row">
          <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
              <div class="card-body">
                <h2 data-type="header" class="card-title text-center">Register
                </h2>
                <form class="form-signin">
                  <label for="exampleInput">No KTP</label>
                  <div class="form-label-group">
                    <input type="text" id="inputKTP" required="" autofocus="" class="form-control"/>
                  </div>
                  <label for="exampleInput">Nama Lengkap</label>
                  <div class="form-label-group">
                    <input type="text" class="form-control"/>
                  </div>
                  <label for="exampleInput">Email</label>
                  <div class="form-label-group">
                    <input type="email" id="inputEmail-3" placeholder="email@example.com" required="" class="form-control"/>
                  </div>
                  <label for="exampleInput">Tanggal Lahir</label>
                  <div class="form-label-group">
                    <input type="date" id="inputTanggalLahir" placeholder="Password" required="" class="form-control"/>
                  </div>
                  <label for="exampleInput">No Telpon</label>
                  <div class="form-label-group">
                    <input type="text" id="inputTelpon" required="" autofocus="" class="form-control"/>
                  </div>
                  <label for="exampleInput">Alamat</label>
                  <div class="form-label-group">
                    <input type="text" id="inputAlamat" required="" autofocus="" class="form-control"/>
                  </div>
                  <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase">Sign Up</button>
                  <a href="/register/login/" class="d-block text-center mt-2 small" style="color:darkcyan">Sign In</a>
                  <hr class="my-4"/>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}