{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container">
	<h3>Stasiun</h3> 
<div class="table-responsive-md">
	<table class="table table-light table-hover">
		<thead>
			<tr>
				<th scope="col">No.</th>
				<th scope="col">Nama Stasiun</th>
				<th scope="col">Alamat</th>
				<th scope="col">Latitude</th>
				<th scope="col">Longitude</th>
				<th scope="col">Update/Delete</th>
			</tr> 
		</thead>
		<tbody>
			<tr>
				<th scope="row">1</th>
				<td>Stasiun Kenanga</td>
				<td>Jalan Danau Kenanga, Depok</td>
				<td>-</td>
				<td>-</td>
				<td>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#update"><i>Update</i>
					</button>
							
					<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete" style="color:black"><i>Delete</i></button>
				</td>
			</tr>
			<tr>
				<th scope="row">2</th>
				<td>Stasiun Deket Stasiun UI</td>
				<td>Jalan Stasiun UI, Depok</td>
				<td>-</td>
				<td>-</td>
				<td>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#update"><i>Update</i>
					</button>
							
					<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete" style="color:black"><i>Delete</i></button>
				</td>
			</tr>
		</tbody>
		<div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="updateTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="updateTitle">Update</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label class="col-form-label">Nama Stasiun:</label>
								<input type="text" class="form-control" id="namaStasiun">
							</div>
							<div class="form-group">
			    				<label class="col-form-label">Alamat:</label>
								<input type="text" class="form-control" id="alamat">
							</div>
							<div class="form-group">
			    				<label class="col-form-label">Latitude:</label>
								<input type="text" class="form-control" id="latitude">
							</div>
							<div class="form-group">
			    				<label class="col-form-label">Longitude:</label>
								<input type="text" class="form-control" id="longitude">
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary">Update</button>
						<button type="button" class="btn btn-default" style="color:black" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="deleteTitle">Confirm Delete</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				        	<span aria-hidden="true">&times;</span>
				        </button>
				    </div>
				    <div class="modal-body">
				    	<h5>Apakah Anda yakin ingin menghapusnya?</h5>
				    </div>
				    <div class="modal-footer">
				    	<button type="button" class="btn btn-danger" id="confirm">Ya</button>
				    	<button type="button" class="btn btn-primary" data-dismiss="modal">Tidak</button>
				    </div>
				</div>
			</div>
		</div>
	</table>
</div>

<div class="container">
  <ul class="pagination justify-content-end">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="/stasiun/daftar-stasiun">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="/stasiun/daftar-stasiun">Next</a>
    </li>
  </ul>
</div>
</div>
{% endblock %}