{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- CONTENT -->
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="roundedrec">
                    <div class="insiderec">
                        <h2 class="judul">Penambahan Voucher</h2>
                        <hr class="garis">
                        <form action="#">
                            <div class="form-label-group">
                                <label for="inputNama">Nama:</label>
                                <input type="text" id="inputNama" class="form-control" required>
                            </div>
                            <div class="form-label-group jarakatas">
                                <label for="inputKategori">Kategori:</label>
                                <input type="text" id="inputKategori" class="form-control" required>
                            </div>
                            <div class="form-label-group jarakatas">
                                    <label for="inputNilai">Nilai Poin:</label>
                                    <input type="text" id="inputNilai" class="form-control" required>
                            </div>
                            <div class="form-label-group jarakatas">
                                    <label for="inputDeskripsi">Deskripsi:</label>
                                    <input type="text" id="inputDeskripsi" class="form-control" required>
                            </div>
                            <div class="form-label-group jarakatas">
                                    <label for="inputJumlah">Jumlah:</label>
                                    <input type="text" id="inputJumlah" class="form-control" required>
                            </div>
                            <div class="submitditengah">
                                <input type="submit" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}