{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- CONTENT -->
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="roundedrec">
                    <div class="insiderec">
                        <h2 class="judul2">Vouchers</h2>
                        <select class="filtering">
                            <option value="volvo">Filter by..</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                        </select>
                        <div class="table-responsive">
                            <table class="table center">
                                <thead>
                                    <tr>
                                        <th scope="col">Voucher ID</th>
                                        <th scope="col">Vouchers</th>
                                        <th scope="col">Kategori</th>
                                        <th scope="col">Nilai Poin</th>
                                        <th scope="col">Deskripsi</th>
                                        <th scope="col">Update/Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td scope="row">A</td>
                                        <td scope="row">B</td>
                                        <td scope="row">1000</td>
                                        <td scope="row">ni voucher preorder masuk neraka</td>
                                        <td scope="row">
                                            <button type="button" class="btn btn-primary update" data-toggle="modal" data-target="#update1">
                                                <i class="fas fa-sync-alt"></i>
                                            </button>
                                            <div class="modal fade" id="update1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="update1">Update Item</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body modalkiri">
                                                        <form action="#">
                                                            <div class="form-label-group jarakatas">
                                                                <label for="inputNama"><b>Nama:</b></label>
                                                                <input type="text" id="inputNama" class="form-control" value="A" required>
                                                            </div>
                                                            <div class="form-label-group jarakatas">
                                                                <label for="inputKategori"><b>Kategori:</b></label>
                                                                <select class="custom-select" id="inputKategori" name="Kategori">
                                                                    <option selected>Pilih...</option>
                                                                    <option value="1">Traveling</option>
                                                                    <option value="2">Shopping</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-label-group jarakatas">
                                                                <label for="inputNilai Poin"><b>Nilai Poin:</b></label>
                                                                <input type="text" id="inputNilai Poin" class="form-control" value="1000" required>
                                                            </div>
                                                            <div class="form-label-group jarakatas">
                                                                <label for="inputDeskripsi"><b>Deskripsi:</b></label>
                                                                <input type="text" id="inputDeskripsi" class="form-control" value="ni voucher preorder masuk neraka" required>
                                                            </div>
                                                           
                                                            
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                                                        <button type="button" class="btn btn-primary btnagree">Update</button>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-primary delete" data-toggle="modal" data-target="#delete1">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                            <div class="modal fade" id="delete1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="delete1">Delete Item</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body modalkiri">
                                                        Hapus Voucher "Free VIP seat pojok kanan bawah neraka lantai 5"?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tidak</button>
                                                        <button type="button" class="btn btn-primary btnagree">Ya, benar</button>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="pagination">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}