{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <title>BikeShare</title>
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/colorful.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <!-- Script: Navbar on-top -->

</head>
<body>

  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><b>BikeShare</b></a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="navbar-collapse collapse" id="navbarsExample01" style="">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Voucher</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="{% url 'daftar_voucher' %}">Daftar Voucher</a>
            <a class="dropdown-item" href="{% url 'create_voucher' %}">Buat Voucher Baru</a>
          </div>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="#">Daftar Stasiun</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Daftar Sepeda</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Daftar Acara</a>
        </li>
        <!-- if user = anggota -->

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Peminjaman</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="{% url 'daftar_peminjaman' %}">Daftar Peminjaman</a>
            <a class="dropdown-item" href="{% url 'create_peminjaman' %}">Buat Peminjaman Baru</a>
          </div>
        </li>
        <!-- if user = petugas -->
        <!-- <li class="nav-item">
            <a class="nav-link" href="#">Daftar Penugasan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Daftar Laporan</a>
        </li> -->

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Transaksi</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="{% url 'create_peminjaman' %}">Peminjaman</a>
            <a class="dropdown-item" href="#">Top Up</a>
            <a class="dropdown-item" href="#">Riwayat</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-md-0" >
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </form>
    </div>
  </nav>

  <div class="py-5 text-center cover d-flex flex-column"
  style= "background-color:	#FFC45C">
  <div class="mx-auto col-lg-6 col-md-8 ">
    <a>
        <img src="{% static 'image/bike.gif' %}" alt="Bike Image" border="0" style="height:7vw; width:auto; top:10vw">
    </a>
    <h3 class="mb-4" style="font-size:1vw"><b>BikeShare</b></h3>
  </div>
  {% block content %}
	{% endblock %}

  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <!-- Script: Smooth scrolling between anchors in the same page -->
  <script src="{% static 'js/smooth-scroll.js' %}"></script>
</body>

</html>
