{% extends 'base.html' %}
{% block content %}
{% load static %}
<link href="{% static 'css/topup_page.css' %}" rel="stylesheet"></link>

<div class="container">
        <div class="row">
          <div class="col-lg mx-auto">
            <div class="card card-signin flex-row my-5">
              <div class="card-body p5">
                <h2 data-type="header" class="card-title text-center">Daftar Laporan</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                <th scope="col">No</th>
                                <th scope="col">ID Laporan</th>
                                <th scope="col">Tanggal Pinjam</th>
                                <th scope="col">Anggota</th>
                                <th scope="col">Denda</th>
                                <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <th scope="row">1</th>
                                <td>112</td>
                                <td>15 April 2019</td>
                                <td>1111111 - Nunung [No kartu] - [Nama]</td>
                                <td>30000</td>
                                <td>Sudah selesai</td>
                                </tr>
                                <tr>
                                <th scope="row">dst</th>
                                <td>dst</td>
                                <td>dst</td>
                                <td>dst</td>
                                <td>dst</td>
                                <td>dst</td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
  {% endblock %}