{% extends 'base.html' %}
{% block content %}
{% load static %}
<link href="{% static 'css/topup_page.css' %}" rel="stylesheet"></link>
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h2 data-type="header" class="card-title text-center">Top Up</h2>
            <label for="exampleInput">Nominal</label>
            <input type="text" class="form-control"/>
            <form class="form-signin">
              <div class="form-label-group">
              </div>
              <div class="form-label-group">
              </div>
              <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase">Top Up</button>
              <hr class="my-4"/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}