{% extends 'base.html' %}
{% block content %}
{% load static %}
<link href="{% static 'css/topup_page.css' %}" rel="stylesheet"></link>

<div class="container">
        <div class="row">
          <div class="col-lg mx-auto">
            <div class="card card-signin flex-row my-5">
              <div class="card-body p5">
                <h2 data-type="header" class="card-title text-center">Riwayat Transaksi</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                <th scope="col">No</th>
                                <th scope="col">Tanggal</th>
                                <th scope="col">Jenis Transaksi</th>
                                <th scope="col">Nominal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <th scope="row">1
                                </th>
                                <td>15 April 2019 
                                </td>
                                <td>Topup 
                                </td>
                                <td>20000
                                </td>
                                </tr>
                                <tr>
                                <th scope="row">2
                                </th>
                                <td>15 April 2019 
                                </td>
                                <td>Peminjaman
                                </td>
                                <td>-10000
                                </td>
                                </tr>
                                <tr>
                                <th scope="row">dst
                                </th>
                                <td>dst
                                </td>
                                <td>dst
                                </td>
                                <td>dst
                                </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
  {% endblock %}