html, body {
    background-color: #eeeeee;
}

.navbar {
    flex: 0 0 auto;
    background-color:black !important;
}

.navbar a {
    color: white !important;
    font-size: 14px;
}

.navbar a:hover {
    color: white !important;
    background-color:rgb(218, 205, 184);
    font-size: 14px;
}

.dropdown-menu a {
    color: black !important;
    font-size: 14px;
}

.dropdown-menu a:hover {
    color: black !important;
}

.content {
    width: 100%;
    overflow: hidden;
    padding: 3em 6em 3em 6em;
    background-color: #FFC45C;
}

.roundedrec {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
}

.insiderec {
    padding: 60px;
}

.judul {
    text-align: center;
    color: black;
    font-weight: bold;
    padding-bottom: 10px;
}

.judul2 {
    text-align: center;
    color: black;
    font-weight: bold;
    padding-bottom: 20px;
}

.batesjudul {
    padding-bottom: 20px;
}

.garis {
    padding-top: 15px;
}

.jarakatas {
    padding-top: 20px;
}

input[type=text] {
    padding: 23px 14px 23px 14px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    width: 100%;
}

.custom-select {
   height: calc(3rem + 2px) !important;
   border: 1px solid #cccccc !important;
}

input[type=submit] {
    background-color: #273B7A;
    border: none;
    color: white;
    padding: 18px;
    border-radius: 50px;
    cursor: pointer;
    width: 15em;
    margin-top: 10px;
    font-weight: bold;
}

input[type=submit]:hover {
    background-color: #91C3B0;
}

.submitditengah {
    padding-top: 40px;
    text-align: center;
}

.center {
    text-align: center;
}

.blue {
    color: #273B7A;
}

.poinlevel {
    font-size: 13px;
    color: #999999;
}

.update {
    border: none !important;
    background-color: #273B7A !important;
}

.update:hover {
    background-color: #121149 !important;
}

.delete {
    border: none !important;
    background-color: rgb(192, 0, 0) !important;
}

.delete:hover {
    background-color: rgb(153, 0, 0) !important;
}

.modalkiri {
    text-align: left;
}

.btnagree {
    border-color: #273B7A !important;
    background-color: #273B7A !important;
}

.btnagree:hover {
    border-color: #121149 !important;
    background-color: #121149 !important;
}

@media(max-width:700px){
    .content {
        width: 100%;
        overflow: hidden;
        padding: 3em 1.3em 3em 1.3em;
        background-color: #eeeeee;
    }

    input[type=submit] {
        width: 10em;
    }

    input[type=submit]:hover {
        width: 10em;
    }
}

input::-webkit-input-placeholder {
    color: white !important;
    }

.filtering {
    width: 240px;
    height:30px;
    margin-bottom: 15px;
}

.pagination {
    justify-content: center;
}

.pagination li a {
    color: #273B7A;
}

.pagination li a:hover {
    color: #273B7A;
}