{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
	<h3>Sepeda</h3>
<div class="table-responsive-md">
	<table class="table table-light table-hover">
		<thead>
			<tr>
				<th scope="col">Nomor</th>
				<th scope="col">Merk</th>
				<th scope="col">Jenis</th>
				<th scope="col">Stasiun</th>
				<th scope="col">Status</th>
				<th scope="col">Penyumbang</th>
				<th scope="col">Update/Delete</th>
				<!--{% if user.is_staff %}-->
				
				<!--{% else %}
					<th scope="col">Pinjam?</th>
				{% endif %}-->
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">1</th>
				<td>Unigon</td>
				<td>Hybrid</td>
				<td>Stasiun Pacil</td>
				<td>Tersedia</td>
				<td>Saia</td>

					<td>
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#update" data-sepeda="1"><i>Update</i>
						</button>
							
						<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete" style="color:black"><i>Delete</i></button>

					</td>

					<!--				{% if user.is_staff %} -->
				<!--{% else %}
					<td>
						<button type="button" class="btn btn-sm btn-success" style="color:black">Ya!</button>
					</td>
				{% endif %}-->
			</tr>

			<tr>
				<th scope="row">2</th>
				<td>Bermuda</td>
				<td>BMX</td>
				<td>Stasiun Deket Stasiun UI</td>
				<td>Tersedia</td>
				<td>Dia</td>

					<td>
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#update" data-sepeda="2"><i>Update</i>
						</button>
							
						<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete" style="color:black"><i>Delete</i></button>

					</td>
			</tr>

			<tr>
				<th scope="row">3</th>
				<td>Wimsiklus</td>
				<td>Fixie</td>
				<td>Stasiun Kenanga</td>
				<td>Tersedia</td>
				<td>-</td>

					<td>
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#update" data-sepeda="3"><i>Update</i>
						</button>
							
						<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete" style="color:black"><i>Delete</i></button>

					</td>
			</tr>
			</tbody>
			<div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="updateTitle" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="updateTitle">Update</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								        	<span aria-hidden="true">&times;</span>
								        </button>
								    </div>
								    <div class="modal-body">
								    	<form>
								    		<div class="form-group">
								    			<label class="col-form-label">Merk:</label>
								    			<input type="text" class="form-control" id="merk">
								    		</div>
								    		<div class="form-group">
								    			<label class="col-form-label">Jenis:</label>
								    			<input type="text" class="form-control" id="jenis">
								    		</div>
								    		<div class="form-group">
								    			<label>Status:</label>
								    			<select class="form-control">
								    				<option>Tersedia</option>
								    				<option>Tidak Tersedia</option>
								    			</select>
								    		</div>
								    		<div class="form-group">
								    			<label>Stasiun:</label>
								    			<select class="form-control">
								    				<option>Kenanga</option>
								    				<option>Perpusat</option>
								    				<option>Deket Stasiun UI</option>
								    				<option>Pacil</option>
								    				<option>Sastra</option>
								    			</select>
								    		</div>
								    		<div class="form-group">
								    			<label>Penyumbang:</label>
								    			<select class="form-control">
								    				<option>-</option>
								    				<option>Saia</option>
								    				<option>Dia</option>
								    				<option>Basdat</option>
								    			</select>
								    		</div>
								    	</form>
								    </div>
								    <div class="modal-footer">
								    	<button type="button" class="btn btn-primary">Update</button>
								        <button type="button" class="btn btn-default" style="color:black" data-dismiss="modal">Close</button>
								        
								    </div>
								</div>
							</div>
						</div>

						<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteTitle" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="deleteTitle">Confirm Delete</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								        	<span aria-hidden="true">&times;</span>
								        </button>
								    </div>
								    <div class="modal-body">
								    	<h5>Apakah Anda yakin ingin menghapusnya?</h5>
								    </div>
								    <div class="modal-footer">
								    	<button type="button" class="btn btn-danger" id="confirm">Ya</button>
								    	<button type="button" class="btn btn-primary" data-dismiss="modal">Tidak</button>
								    </div>
								</div>
							</div>
						</div>
	</table>
</div>

<div class="container">
  <ul class="pagination justify-content-end">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="/sepeda/daftar-sepeda">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="/sepeda/daftar-sepeda">Next</a>
    </li>
  </ul>
</div>
</div>
{% endblock %}